/*
    Project: XAAS
    Alessandro Mariotti
    alex@xallegro.com
*/
@import '_variables';

.dashboard {

    @include reset-a();
    
    color: $DashboardFontColor;
    font-size:$DashboardFontSize;

    a {
        font-size:150%;
        line-height: 210%;
    }
    
    a:link {
        text-decoration: none;
        color: inherit;
        
    }

    a:visited {
        text-decoration: none;
        color: inherit;
      
    }

    a:hover {
        text-decoration: none;
        color: $DashboardLinkColorHover;
    }

    a:active {
        text-decoration: none;
        color: $DashboardLinkColorActive;
    }

    .box {

        float:left;
        text-align: center;
        margin: 0.25%;
        padding: 0.25%;

        .title {
            width: 90%;
            padding-bottom: 1vh;
            text-align: right;
            line-height: 140%;
            font-weight: lighter;
        }
        
        ul {
            border-top: 1px solid $DashboardFontColor;
            width: 90%;
            height: 40px;
            text-align: right;
        }

        li {
            display:inline;
            padding: 5%;
        }
        
         .IconExplorer {
            a:after {
                font-family: Awesome;
                content: "\f0e8";
            }
        }

        .IconCreate {
            a:after {
                font-family: Awesome;
                content: "\f196";
            }
        }
        
        .IconList {
            a:after {
                font-family: Awesome;
                content: "\f0ce";
            }
        }
    }

    .BoxOu {
        //background-color:rgba(52, 73, 94,0.80);
        background-color:rgba(34, 49, 63,0.85);
    }
    
    .BoxOuType {
        background-color:rgba(192, 57, 43,0.85);
    }
}