@import '_variables';

.tabs {

    position: relative;
    width:98%;
    height: 80%;
    clear: both;
    bottom:0;

    .tab {
        float: left;
    }

    .tab .style-label {
        background: #EEEEEE; 
        padding: 10px;
    }

    .tab [type=radio] {
        display: none;   
    }

    .tab_content {
        position: absolute;
        top: 26px;
        left: 0;
        background: white;
        right: 0;
        bottom: 2%;
    	overflow:auto;
        padding: 1.5%;
    }

    [type=radio]:checked ~ label {
        background: white;
        z-index: 2;
    }

    [type=radio]:checked ~ label ~ .tab_content {
      z-index: 1;
    }  
}